name: Continuous Integration
on:
  push:
    paths-ignore:
      - "*.md"
  pull_request:
    paths-ignore:
      - "*.md"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [15.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    name: Node ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        id: setup_node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        id: install
        run: npm install --ignore-scripts

      - name: Check licenses
        id: license_check
        run: |
          npm run license-checker --if-present

      # Unit and lint tests
      - name: Tests
        id: test
        run: npm run test

      - name: Typescript
        id: typescript_test
        run: npm run typescript --if-present
